<div class="text-center align-middle my-auto py-4">
  <h3>About us</h3>
  <div class="d-flex justify-content-evenly">
    <div class="col-5">
      <img
        src="../../../assets/Images/wallpaper.jpg"
        alt="wallpaper-1"
        class="img-fluid"
      />
      <h4>Products description</h4>
      <p>Short description of your product's innovative features.</p>
    </div>
    <div class="col-5">
      <img
        src="../../../assets/Images/wallpaper.jpg"
        alt="wallpaper-2"
        class="img-fluid"
      />
      <h4>Teams description</h4>
      <p>Short description of your team.</p>
    </div>
  </div>
</div>
