<div class="container">
  <div class="row">
    <div class="col-4 pt-5 border">
      <app-aside
        [productList]="productList"
        [filtered]="filtered"
        (filterBtnActive)="filterProductsByPrice()"
        (resetFilterBtnActive)="resetPriceFilter()"
        (updateProduct)="updateProduct($event)"
      ></app-aside>
    </div>
    <div
      class="col-8 px-0"
      [ngStyle]="{
        'background-color': currentProduct.favourite
          ? '#505050'
          : 'transparent',
        color: currentProduct.favourite ? 'white' : 'black'
      }"
    >
      <app-principal
        [actualProduct]="currentProduct"
        (removeProduct)="removeProduct()"
      ></app-principal>
      <div class="border" *ngIf="currentProduct.similarProducts.length">
        <app-similar-products
          [actualProduct]="currentProduct"
        ></app-similar-products>
      </div>
      <div class="border" *ngIf="currentProduct.reviews?.length">
        <app-reviews [actualProduct]="currentProduct"></app-reviews>
      </div>
    </div>
  </div>
</div>
