<div class="container">
  <div class="row">
    <div class="col-4 pt-5 border">
      <app-aside
        [productList]="productList"
        [filtered]="filtered"
        (filterBtnActive)="filterProductsByPrice()"
        (resetFilterBtnActive)="resetPriceFilter()"
        (updateProduct)="updateProduct($event)"
      ></app-aside>
    </div>
    <div class="col-8 px-0" [ngStyle]="productIsFavoriteStyle()">
      <app-principal
        [actualProduct]="currentProduct"
        (removeProduct)="removeProduct()"
      ></app-principal>
      <div class="border" *ngIf="hasSimilarProducts()">
        <app-similar-products
          [actualProduct]="currentProduct"
        ></app-similar-products>
      </div>
      <div class="border" *ngIf="hasReviews()">
        <app-reviews [actualProduct]="currentProduct"></app-reviews>
      </div>
    </div>
  </div>
</div>
