ul > p {
  padding-top: 1%;
}
.container {
  min-width: 100% !important;
}
img {
  float: left;
}
.filters {
  border-radius: 0%;
  min-width: 40%;
  margin-bottom: 5%;
}
.del-btn {
  max-width: 20%;
  min-width: auto;
  margin-bottom: 2%;
}
.space {
  padding-left: 20px;
}
.light {
  font-weight: normal;
}
.short {
  max-width: 15%;
}
.listado ul {
  padding-left: 0%;
  width: 100%;
}
.listado hr {
  margin-top: 5px;
  margin-bottom: 25px;
}
.d-flex > i {
  float: right;
}
