.container {
  min-width: 100% !important;
}
img {
  height: 100%;
}
.filters {
  border-radius: 0%;
}
.del-btn {
  max-width: 20%;
  min-width: auto;
  margin-bottom: 2%;
}
.listado {
  li {
    border-bottom: 1px solid gray;
  }
}
.big {
  font-size: 4rem;
}
.data {
  min-width: max-content;
}
.nav-item {
  border-right: 1px solid black;
}
