.container {
  min-width: 100% !important;
}
img {
  height: 100%;
}
.filters {
  border-radius: 0%;
}
.del-btn {
  max-width: 20%;
  min-width: auto;
  margin-bottom: 2%;
}
.space {
  padding-left: 20px;
}
.short {
  max-width: 15%;
}
.listado ul {
  padding-left: 0%;
  width: 100%;
}
.d-flex > i {
  float: right;
}
.big {
  font-size: 4rem;
}
.data {
  min-width: max-content;
}
