<button
  class="btn btn-secondary filter-btns rounded-0 mb-3 d-block"
  [class.activated]="filtered"
  (click)="onFilterBtnActive()"
>
  Filter
</button>
<button
  class="btn btn-secondary filter-btns rounded-0 mb-3"
  (click)="onResetFilterBtnActive()"
>
  Reset Filter
</button>
<h4 class="mb-4 fst-italic">Products</h4>
<div class="listado">
  <ul class="ps-0">
    <li
      *ngFor="let product of productList"
      class="d-flex justify-content-between"
      (click)="onSelectedProduct(product)"
    >
      <p>{{ product.product }}</p>
      <i class="bi bi-chevron-right"></i>
    </li>
  </ul>
</div>
