<div class="border d-flex">
  <img
    [src]="imageRoute"
    [alt]="actualProduct.product"
    class="col-5 m-4 h-100"
  />
  <div class="col">
    <div class="d-flex justify-content-between big mt-3">
      <h1 class="fw-medium">{{ actualProduct.product }}</h1>
      <i
        class="pe-3
          {{ actualProduct.favourite ? 'bi-heart-fill' : 'bi-heart' }}
        "
        (click)="changeFavoutiteState()"
      ></i>
    </div>
    <div class="d-flex">
      <app-stars [rating]="actualProduct.rating"></app-stars>
      <p class="ps-3">{{ actualProduct.reviews?.length }} reviews</p>
    </div>
    <hr />
    <h2 class="display-5">
      {{ actualProduct.price + actualProduct.currency }}
    </h2>
    <hr />
    <p class="px-3">
      {{ actualProduct.description }}
    </p>
    <hr class="w-25" />
    <button
      class="btn btn-secondary rounded-2 del-btn mb-3 me-4"
      (click)="onRemoveItem()"
    >
      Delete product
    </button>
    <button
      class="btn btn-secondary rounded-2 del-btn mb-3"
      (click)="addToCart(actualProduct)"
    >
      Add to cart
    </button>
  </div>
</div>
